// Set font families
$font-family--primary      : 'Open Sans', sans-serif;

// Set font weights
$font-weight--light       : 300;
$font-weight--normal      : 400;
$font-weight--semi-bold   : 600;
$font-weight--bold        : 700;
$font-weight--extra-bold  : 800;


// Set color
$black                    : #090A0C;
$white                    : #ffffff;
$grey				      : #47474B;
$grey-lt				  : #F4F4F4;
$grey-md			      : #cccccc;
$navy					  : #002D5B; 
$blue-dk				  : #005F9E;
$blue 					  : #009AD9; 
$blue-lt			      : #eceef5;
$yellow					  : #FFBE00;
$red 					  : #D0021B;

$green					  : #7ED321;


// Brand Colors 

// Set main colors
$primary-color            : $blue;
$secondary-color          : $yellow;

$body-color          	  : $grey;

// Set font size
$base__font-size          : 16px;
$base__line-height		  : 1.6;


// Media Q helpers
// $break-laptop			  : 1180px;
// $break-tablet			  : 768px;
$break-xs 				  : 641px;


$break-laptop			  : 1180px;
$break-tablet			  : $medium-breakpoint;
$break-phone			  : $small-breakpoint;


// $small-breakpoint:  em-calc(768)  !default;
// $medium-breakpoint: em-calc(1024) !default;
// $large-breakpoint:  em-calc(1440) !default;
// $xlarge-breakpoint: em-calc(1920) !default;


