// Set font families
$font-family--primary      : Arial, sans-serif; 
$font-family--secondary    : Georgia, serif;

// Set font weights
$font-weight--light       : 100;
$font-weight--normal      : 300;
$font-weight--bold        : 700;

// Set color
$black                    : #000000;
$white                    : #ffffff;

// Brand Colors 

// Set main colors
$primary-color            : $black;
$secondary-color          : $white;

$body-font-color          : $black;

// Set font size
$base__font-size          : 100%;
$base__line-height		  : 1.6;

