.cta-contact {
	background: $primary-color url(../images/bg/pattern-plus-white.png) repeat-x 0 0;

	.content {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	h2 {
		color: $white;
		margin: 0;
	}

	.button {
		float: right;
		margin: 0;
	}
}