html {
    font-size: $base__font-size;

    @media screen and (max-width: 1100px) {
    }


    body {
        line-height: $base__line-height;
        font-size: $base__font-size;
        color: $body-font-color;
        font-family: $font-family--primary;
        font-weight: $font-weight--normal;
        background: $blue-lt;


    }
}

html > * {
    transition: all .5s;
}

a img {
    /* Stops ie from displaying a blue box around linked images */
    outline:0;
    border:0;
}

a {
    text-decoration: none;
    color: $secondary-color;


    &:hover {
        color: $primary-color;
    }
}

img {
    @media screen and (max-width: 641px) {
        margin-bottom: 20px;
    }
}

.ieblock {
    margin: 0 auto;
    text-align: center;
    width: 500px;
    font-size: 20px;
    background: $black;
    color: $white;
    padding: 30px;
    position: absolute;
    z-index: 10; 
    left: 0;
    top: 0;
}


// text . 
h1, h2, h3, h4, h5, h6, ul, ol, p {
    margin: 0 0 40px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    color: $body-color;
}

h1 {

    font-size: 34px;
    span {
        font-weight: $font-weight--normal;
    }
}

h2 {
    font-size: 28px;
    font-weight: $font-weight--bold;

    &.h2-secondary {
        margin-bottom: 0;
    }

    span {
        font-weight: $font-weight--normal;
    }
}

h3 {
    font-size: 20px;

    &.h3-secondary {
        margin-bottom: 0;
    }
}

.bg-dark {
    h1, h2, h3, h4, h5, h6, ul, ol, p {
        color: $white;
    }
}

.larger {
    font-size: 115%;
}

blockquote {
    color: $blue-dk;
    font-weight: $font-weight--bold;
    font-style: italic;
    padding: 0 100px;
    margin: 50px auto;
    font-style: 22px;
    @media screen and (max-width: $break-phone) {
        padding: 0 20px;
    }

    .author {
        color: $body-color;
        font-size: 16px;
        font-weight: $font-weight--normal;
    }
}

// Spacing . 

.margin-bottom-large {
    margin-bottom: 100px;
}

.margin-bottom-medium {
    margin-bottom: 50px;
}

// Form . 


fieldset {
    border: none;
    margin: 0 0 40px;
    padding: 0;

    legend {
        font-weight: bold;
        margin: 0 0 30px 0;
        padding: 0;
        font-size: 24px;
        font-weight: $font-weight--semi-bold;
    }
}

label {
    font-size: $base__font-size;
}

.input-wrapper {
    border-radius: 3px;
    border: 1px solid $grey-md;
    margin: 0 0 30px;

    &:after {
        @include clearfix();
    }

    label, 
    select, input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
        padding: 10px;
        float: left;  
        margin: 0;
        display: inline-block;
        height: 50px;
        line-height: 1.9;
    }    

    label {
        width: 85px;
        background: $grey-lt;
        border-right: 1px solid $grey-md;
        text-align: center; 
    }

    select, input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
        width: calc(100% - 85px);
        border: none;
        border: none;
    }

    &.large {
        label {
            width: 115px;
        }

        select, input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
            width: calc(100% - 115px);
        }
    }

    &.small {
        label {
            width: 50px;
        }

        select, input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
            width: calc(100% - 50px);
        }
    }


    &.no-label {
        textarea {
            width: 100%;
            height: 200px;
        }
    }


    &.no-label {
        select {
            width: 100%;
        }
    }
}


.file-download-select {
    max-width: 400px;

    .input-wrapper {
        border: none;
    }
    select {
        width: calc(100% - 120px);
        float: left;
        border-left: 1px solid $grey-lt;
        border-top: 1px solid $grey-lt;
        border-bottom: 1px solid $grey-lt;
        height: 60px;
    }

    .button {
        width: 120px;
        float: right;
        margin: 0;
        padding: 20px 0;
        border-radius: 0 !important;
    }

    .button, select {
        @media screen and (max-width: $break-phone) {
            float: none;
            width: 100%;
        }
    }
}



select, select:focus {
    background: $white url(../images/icons/select-yellow.svg) no-repeat right 10px center;
    -moz-appearance: none !important;
    text-indent: 0.01px !important;
    text-overflow: '' !important;
    cursor: pointer !important;
}

select::-ms-expand {
    display: none;
}


&::-webkit-input-placeholder {
    opacity: 1;
    color: $grey-md; 
}

&::-moz-placeholder { /* Firefox 19+ */
    opacity: 1;
    color: $grey-md; 
}



// Checkbox field with toggle look 
.switch {
    position: relative;
    width: 80px;
    height: 35px;

    input[type="checkbox"] + label {
        margin: 0;
    }

    input {
        top: 0; 
        right: 0; 
        bottom: 0; 
        left: 0;
        opacity: 0;
        z-index: 100;
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    label {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        background: $white;
        border: 1px solid $grey-md;
        border-radius: 40px;
        line-height: 1;

        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            top: -4px; right: -4px; bottom: -4px; left: -4px;
            border-radius: inherit;
            background: $grey-md;
         
        }

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: -18px; right: -18px; bottom: -18px; left: -18px;
            border-radius: inherit;

        }

        i {
            display: block;
            height: 26px;
            width: 26px;
            border-radius: 100%;
            background: $grey-lt;
            position: absolute;
            z-index: 2;
            right: 49px;
            top: 3px;

            &:before {
                content: "No";
                font-weight: $font-weight--normal;
                font-style: normal;
                color: $body-color;
                font-size: 15px;
                position: absolute;
                top: 50%;
                margin-top: -7px;
                right: -132%;
            }
        }

    }

}

input:checked ~ label {
    background: $white;
    border-color: $green;

    i {
        right: 4px;
        background: $green;

        &:before {
            content: "Yes";
            right: 39px;
            color: $green;
         
        }
    }


}


// Buttons . 
.button {
    background: $primary-color;
    border-radius: 2px !important;
    font-size: $base__font-size;
    font-weight: $font-weight--semi-bold; 
    color: $white;
    padding: 10px 30px;
    border: transparent 1px solid;
    display: inline-block;
    text-align: center;

    &.button-large {
        padding: 17px 50px;
    }

    &.button-yellow {
        background: $secondary-color;
        border: none;
        color: $navy;

        &:hover {
            background: $primary-color;
            color: $white;
        }
    }

    &.button-grey {
        background: $grey-md;
        border: none;
        color: $white;

        &:hover {
            background: $secondary-color;
            color: $navy;
        }
    }



    &.button-outline {
        background: $white;
        border-color: $primary-color;
        color: $primary-color;

        &:hover {
            background: $primary-color;
            color: $white; 
        }
    }

    &.button-arrow {
        background: url(../images/icons/arrow-white-next.svg) no-repeat right center;
        background-size: 30px 13px;
        padding: 0 50px 0 0;
        color: $white;
        font-weight: $font-weight--bold;
        font-size: 18px;

        &.button-arrow-blue {
            background: url(../images/icons/arrow-blue-next.svg) no-repeat right center;
            background-size: 30px 13px;
            padding: 0 50px 0 0;
            color: $primary-color;
            font-weight: $font-weight--bold;
            font-size: 18px;
        }
    }
}

.link-back {
    background: url(../images/icons/arrow-grey-prev.svg) no-repeat left center;
    background-size: 21px 10px;
    font-weight: $font-weight--bold;
    color: lighten($grey, 10%);
    padding: 0 0 0 30px;
    display: inline-block;

    @media screen and (max-width: $break-tablet) {
        background: url(../images/icons/arrow-yellow-prev.svg) no-repeat left center;
        color: $secondary-color;
    }
}

// Structure .

.wrapper {
    max-width: 1550px;
    width: calc(100% - 40px);
    margin: 0 auto;
   

    @media screen and (max-width: $break-laptop) {
        width: 100%;
    }

    @media screen and (min-width: $large-breakpoint) {
         height: 100%;
    }

}

.row {
    max-width: 1300px;

    &.row-full {
        max-width: 100%;
    }
}

.body {
    background: $white;
    position: relative;
    z-index: 0;

    &:before {
        content: '';
        display: block;
        background: url(../images/bg/pattern-plus.png) right 0 no-repeat;
        width: 668px;
        height: 186px;
        z-index: 10;
        position: absolute;
        right: 0;
        top: 0;

        @media screen and (max-width: $break-tablet) {
            display: none;
        }
    }
}

.content {
    padding: 100px 5%;
}

section {
    &:after {
        @include clearfix();
    }
}


// BGs

.bg-pattern {
    background: url(../images/bg/bg.png) 0 0 repeat;
    @media screen and (max-width: $break-laptop) {
        overflow: hidden;
    }
}

// Social. Appears on Showcase . 

.social-sharing {
    margin: 100px auto;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;

        li {
            margin: 0 5px;
            padding: 0;
            display: inline-block;

            a {
                border: 1px solid $grey-md;
                border-radius: 3px;
                background-color: $white !important;
                text-indent: -9999px;
                padding: 10px 40px;
                display: block;
                background-size: 25px 25px !important;
                background-position: center center !important;
            }
        }
    }
}