.hardware-dev-wrapper {
	width: 100%;
	position: relative;

	.title {
		position: absolute;
		max-width: 750px;
		margin: 0 auto;		
		left: 0;
		right: 0;
		top: 150px;
		z-index: 10;
		text-align: center;

		@media screen and (max-width: $break-phone)  {
			position: relative;
		    top: 0;
		    padding: 50px 20px;
		}

		&:before {
			content: '';
			display: block;
			margin: 0 auto 20px;
			width: 40px;
			height: 5px;
			background: $secondary-color;
			@media screen and (max-width: $break-phone)  {
				margin-left: 0;
			}
		}

		h1, p {
			color: $white; 
			margin: 0 0 5px;
		}

		h1 {
			font-size: 48px;
			@media screen and (max-width: $break-phone)  {
				color: $body-color;
				text-align: left;
				font-size: 30px;
			}
		}

		p {
			@media screen and (max-width: $break-phone)  { 
				display: none;
			}
		}

		.icon {
			width: 40px;
			height: 40px;
			display: block;
			margin: 10px auto;
			@media screen and (max-width: $break-phone)  { 
				display: none;
			}
		}
	}

	.hd-col {
		width: 50%;
		float: left;
		overflow: hidden;
		transition: all .5s;
		@media screen and (max-width: $break-phone)  { 
			width: 100%;
			float: none;
		}

		&.shift {
			transition: all .5s;
			//position: absolute;
		}

		.bg-light {
			transition: all .5s;
			@media screen and (max-width: $break-laptop) {
				height: 50px;
			}
		}

		.detail, .content {
			padding: 0 10% 0 25%;
		}

		&.hd-left {
			//left: 0;

			&.shift-right {
				width: 100%;
				z-index: 10;

				.bg-light {
					height: auto;
				}
			}
			&.shift-left {
				z-index: 0;
				width: 0;
				@media screen and (max-width: $break-phone) {
					width: 100%;
				}
			}
		}


		&.hd-right {
			text-align: right;
			//right: 0;

			&.shift-right {
				z-index: 0;
				width: 0;
				@media screen and (max-width: $break-phone) {
					width: 100%;
				}
			}

			&.shift-left {
				width: 100%;
				z-index: 10;

				.bg-light {
					height: auto;
				}
			}

			.detail, .content {
				padding: 0 25% 0 10%;
			}
		}

		.hd-featured {
			max-width: 240px;
		    position: absolute;
		    bottom: -60px;
		    z-index: 1;

			&.hd-featured-left {
				left: -10px;
				@media screen and (max-width: $break-laptop) {
					left: -100px;
				}
			}

			&.hd-featured-right {
				right: -56px;
				@media screen and (max-width: $break-laptop) {
					right: -140px;
				}
			}
		}
	}

	.bg {
		position: relative;

		&.bg-dark {
			background: url(../images/bg/bg-blue.png) repeat;
			height: 860px;
			@media screen and (max-width: $break-phone) {
				height: 230px;
			}

			.detail {
				transform: translateX(-200%); 

			}
		}

		&.bg-light {
			background: url(../images/bg/bg.png) repeat;
		}

		&.bg-light-grey {
			background: url(../images/bg/bg-grey.png) repeat;
		}

		&.bg-darker {
			background: url(../images/bg/bg-blue-darker.png) repeat;

		}
		.content-bottom {
			position: absolute;
			bottom: 10%;
			width: 100%;
		}

		.detail, .content {
			z-index: 2;

			h2 {
				font-size: 38px;
				padding: 10px 0 0;
				position: relative;
				@media screen and (max-width: $break-laptop) {
					font-size: 26px;
				}

				&:before {
					content: '';
					display: block;
					top: -10px;
					width: 15px;
					height: 5px;
					background: $secondary-color;
					position: absolute;

				}

				&.align-right {
					&:before {
						right: 0;
					}
				}
			}

			h3 {
				margin: 0 0 10px;
			}
		}

		.content {
			transition: all .5s;
			transform: translateX(0); 

			// &.content-left {
			// 	&.close {
			// 		transform: translateX(100%); 
			// 	}
			// }

			// &.content-right {
			// 	&.close {
			// 		transform: translateX(-200%); 
			// 	}
			// }
			

			

			.show-detail {
				display: none;
				position: relative;

				&.show-detail-right {
					background: url(../images/icons/arrow-yellow-next.svg) no-repeat right center;
					background-size: 20px 25px;
					padding-right: 30px;
				}

				&.show-detail-left {
					background: url(../images/icons/arrow-yellow-prev.svg) no-repeat 0 center;
					background-size: 20px 25px;
					padding-left: 30px;
				}


				@media screen and (max-width: $break-laptop) {
					display: block;
				}

			}


			&.close {
				.show-detail {
					padding: 0;
					width: 30px;
					height: 30px;
					display: block;
					position: absolute;
   					top: 0;

					span {
						display: none;
					}
				}	
			}

			&.close {
				.show-detail-right {
					background: url(../images/icons/arrow-yellow-circle-prev.svg) no-repeat 0 center;
					background-size: 100% 100%;
					left: 50px;

					@media screen and (max-width: $break-phone) {
						background: url(../images/icons/close.svg) no-repeat 0 center;
						background-size: 100% 100%;
					}	
				}	
			}


			&.close {
				.show-detail-left {
					background: url(../images/icons/arrow-yellow-circle-next.svg) no-repeat right center;
					background-size: 100% 100%;
					right: 50px;
					@media screen and (max-width: $break-phone) {
						background: url(../images/icons/close.svg) no-repeat right center;
						background-size: 100% 100%;
					}	

				}	
			}

			

			
		}

		.detail {
			display: block;

			@media screen and (max-width: $break-laptop) {
				transition: all .5s;
				//display: none;
			}

			&.detail-right {

				@media screen and (max-width: $break-laptop) {
					transform: translateX(200%); 
				}

			}

			&.detail-left {

				@media screen and (max-width: $break-laptop) {
					transform: translateX(-200%); 
				}

			}


			&.open {
				transform: translateX(0); 
			}

			.button {
				top: -30px;
			}
		}

		.button {
			padding-top: 20px;
			padding-bottom: 20px;
		}

	}
}

.complete-modules {
	background: #e2e3e8;

	.button-yellow {
		color: $white;
	}
}