.icon {
	text-indent: -9999px;

	&.icon-file {
		background: url(../images/icons/file.svg) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.icon-code {
		background: url(../images/icons/code.svg) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.icon-calendar {
		background: url(../images/icons/calendar.svg) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.icon-profile {
		background: url(../images/icons/profile.svg) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.icon-profile-simple {
		background: url(../images/icons/profile-simple.svg) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.icon-profile-simple-white {
		background: url(../images/icons/profile-simple-white.svg) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.icon-profile-lock {
		background: url(../images/icons/profile-lock.svg) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.icon-tools {
		background: url(../images/icons/build.svg) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.icon-download {
		background: url(../images/icons/download.svg) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.icon-heart {
		background: url(../images/icons/heart-grey.svg) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.icon-share {
		background: url(../images/icons/share-grey.svg) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.icon-lock2 {
		background: url(../images/icons/lock2.svg) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.icon-user {
		background: url(../images/icons/user.svg) no-repeat 0 0;
		background-size: 100% 100%;
	}

	&.icon-arrow-circle-down {
		background: url(../images/icons/arrow-circle-white-down.svg) no-repeat 0 0;
		background-size: 100% 100%;
	}

	


	&.icon-png {

		&.icon-message {
			background: url(../images/icons/message.png) no-repeat 0 0;
			background-size: 100% 100%;
		}

		&.icon-paper {
			background: url(../images/icons/paper.png) no-repeat 0 0;
			background-size: 54px 70px;
		}

		&.icon-news {
			background: url(../images/icons/news.png) no-repeat 0 0;
			background-size: 100% 100%;
		}

		&.icon-calendar {
			background: url(../images/icons/calendar.png) no-repeat 0 0;
			background-size: 100% 100%;
		}

		&.icon-link {
			background: url(../images/icons/link.png) no-repeat 0 0;
			background-size: 100% 100%;
		}

		&.icon-trophy {
			background: url(../images/icons/trophy.png) no-repeat 0 0;
			background-size: 100% 100%;
		}

	}
}